@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Bold.eot");
  src: local("../fonts/Myriad Pro Bold"), local("../fonts/MyriadPro-Bold"),
    url("../fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("../fonts/Myriad Pro Regular"), local("../fonts/MyriadPro-Regular"),
    url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$fontfamily: "Myriad Pro";

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside,
section {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: $fontfamily;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: $fontfamily;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

$maincolor: #1d2124;

body {
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 24px;
  color: #fff;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
  // background-color: $maincolor;
}

.container {
  max-width: 1530px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  &__body {
    background-color: $maincolor;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
  }

  &__logo img {
    max-width: 200px;
  }

  &__contacts {
  }
}
.menu {
  &__list {
    display: flex;
  }

  &__list-item {
    padding: 0 15px;

    &_catalog {
    }
    &_catalog span {
      padding-left: 5px;
      display: block;
      color: #fff;
      display: inline-block;
    }
  }

  &__list-link {
    color: #fff;
    text-transform: uppercase;

    &_catalog {
    }

    &_button {
    }
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__link {
    color: #ccc;
  }
  &__phone {
  }

  &__adres {
    font-size: 18px;
  }
}
.fa-caret-down {
}

.header__burger {
  display: none;
}

@media (max-width: 1500px) {
  .menu__list-link {
    font-size: 20px;
  }
}
@media (max-width: 1350px) {
  .menu__list-link {
    font-size: 18px;
  }
  .header__logo img {
    max-width: 150px;
  }
}

@media (max-width: 1200px) {
  .contacts__link {
    font-size: 18px;
  }
  .contacts__adres {
    font-size: 15px;
  }
  .header__logo img {
    max-width: 120px;
  }
  .menu__list-link {
    font-size: 16px;
  }
}

@media (max-width: 1050px) {
  .menu__list-link {
    font-size: 15px;
  }
  .contacts__link {
    font-size: 15px;
  }
  .contacts__adres {
    font-size: 13px;
  }
  .header__logo img {
    max-width: 100px;
  }
}

// .header__burger{

// }
// .header__burger::after,
// .header__burger::before{

// }

@media (max-width: 976px) {
  .header__burger {
    display: block;
    position: relative;
    width: 26px;
    height: 17px;
    z-index: 50;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 26px;
    height: 3px;
    top: 7px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    right: 0;
    z-index: 51;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .menu {
    transform: translateX(-120%);

    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba($color: $maincolor, $alpha: 0.8);
    z-index: 5;
    transition: all 0.3s ease;
  }

  .menu.active {
    transform: translateX(0);
  }

  .menu__list {
    // height: 100vh;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu__list-item {
    padding: 15px 0;
  }
  .menu__list-link {
    font-size: 24px;
  }

  .menu__list-item span {
    display: none;
  }

  .header__logo {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 500px) {
  .header__contacts {
    display: none;
  }
  .header__body {
    height: 70px;
    width: 100%;
  }
  .header__logo {
    transform: translateX(0);
    right: 15px;
    display: flex;
    justify-content: flex-end;
  }
}

.mainscreen {
  min-height: 100%;
  width: 100%;
  background: url(../images/mainscreen_bg.jpg) center center / cover no-repeat;

  &__body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 60px;
    color: #fff;
    margin-bottom: 30px;
    transform: translateY(-50%);
    font-weight: bold;
  }

  &__link {
    background-color: $maincolor;
    color: #fff;
    padding: 30px 60px;
    font-size: 40px;
    border-radius: 15px;
  }
}

@media (max-width: 1350px) {
  .mainscreen__title {
    font-size: 55px;
  }
}
@media (max-width: 1100px) {
  .mainscreen__title {
    font-size: 45px;
  }
  .mainscreen__link {
    font-size: 35px;
    padding: 25px 50px;
  }
}

@media (max-width: 830px) {
  .mainscreen__title {
    text-align: center;
  }
  .mainscreen__title span {
    display: block;
  }
}

@media (max-width: 530px) {
  .mainscreen__title {
    font-size: 40px;
  }
  .mainscreen__link {
    font-size: 30px;
    padding: 20px 40px;
}
}

.about {
  color: #fff;
  height: 100%;
  width: 100%;

  &__body {
    height: 100%;
    width: 100%;
    padding: 50px 0px;
    background-color: $maincolor;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    row-gap: 30px;
    column-gap: 100px;
  }

  &__item {
    max-width: 100%;
    // padding: 0 50px;
    position: relative;
  }

  &__item-text-block {
    display: grid;
    align-content: center;
    justify-items: center;
  }

  &__video-block {
    position: relative;
    padding-bottom: 40%;
  }

  &__item-video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    z-index: 4;
  }

  &__item-text {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__subtitle {
    padding-top: 50px;
    text-align: center;
  }
}

.footer {
  &__body {
  }

  &__contacts {
    background-color: #ccc;
    padding: 15px 0;
    color: $maincolor;
    margin-bottom: 50px;
  }

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  &__content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__content-link {
    color: #fff;
    font-size: 30px;
    padding-bottom: 20px;
  }

  &__content-text {
  }

  &__content-map {
  }

  &__copy {
    padding: 15px 0;
    text-align: center;
  }
}
.container {
}
