@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Light.eot");
  src: local("../fonts/Myriad Pro Light"), local("../fonts/MyriadPro-Light"),
    url("../fonts/MyriadPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MyriadPro-Light.woff") format("woff"), url("../fonts/MyriadPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("../fonts/Myriad Pro Regular"), local("../fonts/MyriadPro-Regular"),
    url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$fontfamily: "Myriad Pro", sans-serif;

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside,
section {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: $fontfamily;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: $fontfamily;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

$maincolor: #1d2124;
$textcolor: #aaaa9d;

body {
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 24px;
  color: $textcolor;
}

a {
  font-family: $fontfamily, sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
  background-color: $maincolor;
  overflow: hidden;
}

.container {
  max-width: 1530px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
}

.title span {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 10px;
  overflow: hidden;
  z-index: 3;
  background-color: $maincolor;
  padding: 0 30px;
}

.title br {
  display: none;
}
.title hr {
  position: absolute;
  content: "";
  border-top: 1px solid $textcolor;
  width: 100%;
  height: 3px;
  top: 50%;
  z-index: -1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  &__body {
    background-color: $maincolor;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  &__logo {
  }

  &__logo img {
    max-width: 150px;
  }

  &__contacts {
  }
}
.menu {
  &__list {
    display: flex;
    border-top: 2px solid #090a0b;
    border-bottom: 2px solid #34383a;
  }

  &__list-item {
    border-top: 2px solid #34383a;
    border-bottom: 2px solid #090a0b;
    padding: 15px;

    &_catalog {
    }
    &_catalog span {
      padding-left: 5px;
      display: block;
      color: #fff;
      display: inline-block;
    }
  }

  &__list-link {
    color: #aaaa9d;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;

    &_catalog {
    }

    &_button {
    }
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header &__link {
    color: #aaaa9d;
    width: 100%;
    padding: 5px 0;
    display: flex;
    align-items: center;
  }
  &__link.fas::before {
    font-size: 30px;
    padding-right: 5px;
  }
  &__phone {
    white-space: nowrap;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
  }
  &__phone span {
    padding-left: 5px;
    font-size: 35px;
  }

  &__adres {
    font-size: 18px;
    // white-space: nowrap;
    display: flex;
    align-items: center;
  }

  &__adres br {
    display: none;
  }
}

@media (max-width: 976px) {
  .menu__list-link {
    font-size: 25px;
  }

  .menu__list-link span {
  }

  .header .contacts__link {
    font-size: 18px;
  }

  .header .contacts__link::before {
    padding-right: 10px;
  }

  .header .contacts__phone {
    font-size: 20px;
  }

  .header .contacts__phone span {
    font-size: 26px;
  }

  .header .contacts__adres {
    font-size: 20px;
  }
  .header .contacts__adres br {
    display: block;
  }
}

@media (max-width: 767px) {
  .header .menu__list-link_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 630px) {
  .header__body {
    height: 70px;
    padding: 15px 10px;
  }
  .header__logo {
    max-width: 120px;
  }

  .header__logo img {
    width: 100%;
  }

  .header .menu__list-link_button {
    font-size: 20px;
  }

  .header .contacts__link {
    font-size: 16px;
    padding: 0;
  }

  .header .contacts__link::before {
    padding-right: 5px;
  }

  .header .contacts__phone {
    font-size: 16px;
  }

  .header .contacts__phone span {
    font-size: 20px;
  }

  .header .contacts__adres {
    font-size: 16px;
  }
  .header .contacts__adres br {
    display: block;
  }
}

@media (max-width: 490px) {
  .header__body {
    padding: 15px 5px;
  }
  .header__logo {
    max-width: 80px;
  }

  .header .menu__list-item {
    padding: 5px;
  }

  .header .menu__list-link {
    font-size: 15px;
  }

  .header .contacts__link {
    padding: 5px 0;
  }

  .header .contacts__phone {
    font-size: 15px;
  }
  .header .contacts__phone span {
    font-size: 15px;
  }
  .header .contacts__adres {
    font-size: 14px;
  }
  .header .contacts__link.fas::before {
    display: none;
  }
}

.mainscreen {
  min-height: 100%;
  width: 100%;
  background: url(../images/mainscreen_bg.jpg) center center / cover no-repeat;

  &__body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(#000, 0.6);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 85px;
  }

  &__title {
    font-size: 60px;
    font-weight: 300;
    color: $textcolor;
    margin-bottom: 30px;
    transform: translateY(-50%);
  }

  &__link {
    background-color: $maincolor;
    color: $textcolor;
    padding: 30px 60px;
    font-size: 40px;
  }
}

@media (max-width: 1350px) {
  .mainscreen__title {
    font-size: 55px;
  }
}
@media (max-width: 1100px) {
  .mainscreen__title {
    font-size: 45px;
  }
  .mainscreen__link {
    font-size: 35px;
    padding: 25px 50px;
  }
}

@media (max-width: 830px) {
  .mainscreen__title {
    text-align: center;
  }
  .mainscreen__title span {
    display: block;
  }
}

@media (max-width: 530px) {
  .mainscreen__title {
    font-size: 40px;
  }
  .mainscreen__link {
    font-size: 30px;
    padding: 20px 40px;
  }
}
.about .container {
  max-width: 1730px;
}

.about {
  height: 100%;
  width: 100%;

  &__body {
    height: 100%;
    width: 100%;
    padding: 50px 0px;
    background-color: $maincolor;
  }

  &__title {
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
  }

  &__title span {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 10px;
    overflow: hidden;
    z-index: 3;
    background-color: $maincolor;
    padding: 0 20px;
  }

  &__title hr {
    position: absolute;
    content: "";
    border-top: 1px solid $textcolor;
    width: 100%;
    height: 3px;
    top: 50%;
    z-index: -1;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 50px;
    column-gap: 30px;
  }

  &__item {
    max-width: 100%;
    position: relative;
    counter-reset: abti;
  }

  &__item-text-block {
    display: grid;
    align-content: center;
    justify-items: flex-start;
  }

  &__video-block {
    position: relative;
    padding-bottom: 60%;
  }

  &__item-video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: 4;
  }

  &__item-title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  &__item-text {
    position: relative;

    background-color: $maincolor;
    z-index: 3;
  }

  &__item:nth-child(even) &__item-title {
    padding-right: 150px;
  }

  &__item:nth-child(even) &__item-text {
    padding-right: 150px;
  }

  &__item:nth-child(odd) &__item-title {
    padding-left: 150px;
  }

  &__item:nth-child(odd) &__item-text {
    padding-left: 150px;
  }

  &__item-text::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 110px;
    height: 1px;
    background-color: $textcolor;
    top: 50%;

    z-index: 2;
  }

  &__item:nth-child(even) &__item-text::after {
    right: 0;
  }

  &__item:nth-child(odd) &__item-text::after {
    left: 0;
  }

  &__subtitle {
    padding-top: 50px;
    text-align: center;
  }
}
@media (max-width: 1500px) {
  .about__content {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 40px;
    column-gap: 20px;
  }
}

@media (max-width: 1400px) {
  .about__content {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
  }
  .about__item-text::after {
    display: none;
  }
  .about .about__item .about__item-text {
    padding: 5px;
  }

  .about .about__item .about__item-title {
    padding: 5px;
  }
}

@media (max-width: 1250px) {
  .about__content {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(330px, 1fr));
  }
  .about__video-block {
    padding-bottom: 35%;
  }
  .about__item-3 {
    grid-row: 4 / 5;
  }
  .about__item-4 {
    grid-row: 3 / 4;
  }
  .about__item-title {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .title {
    margin-bottom: 50px;
  }
  .title span {
    font-size: 50px;
  }
}

@media (max-width: 850px) {
  .title hr {
    display: none;
  }
  .title span {
    font-size: 40px;
  }
}

@media (max-width: 800px) {
  .about__content {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
  .about__item-text {
    font-size: 20px;
  }
  .about__video-block {
    padding-bottom: 50%;
  }
  .title br {
    display: block;
  }
}

@media (max-width: 600px) {
  .about__body{
    padding-top: 20px;
  }
  .about__content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 20px;
  }
  .about .title span {
    padding: 0;
}

  .about__video-block {
    padding-bottom: 50%;
  }

  .about__item-1 {
    vertical-align: middle;
  }

  .about__item-1 {
    grid-row: 1 / 2;
  }

  .title span {
    font-size: 30px;
  }
  .title{
    margin-bottom: 20px;
  }
  .about__item-title{
    font-size: 28px;
  }
}

@media (max-width: 460px) {
  .about__item-text {
    font-size: 18px;
  }

  .title span {
    font-size: 25px;
  }
}

.footer .container {
  max-width: 1730px;
}

.footer {
  &__body {
  }

  &__contacts {
    // background-color: #ccc;
    // padding: 15px 0;
    // color: $maincolor;
    margin-bottom: 50px;
  }

  &__title {
    // text-align: center;
    // font-weight: bold;
    // font-size: 30px;
    // text-transform: uppercase;
  }

  &__content {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  &__content-item {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__content-link {
    color: #fff;
    font-size: 30px;
    padding-bottom: 20px;
  }

  &__content-text {
  }

  &__content-map {
  }

  &__copy {
    margin-top: 30px;
    padding: 35px 0;
    text-align: center;
    border-top: 1px solid $textcolor;
  }
}

.footer__contacts-block .contacts__link {
  font-size: 30px;
  padding: 15px 0;
  color: $textcolor;
}

.footer__contacts-block .fas::before {
  font-size: 40px;
}
.footer__contacts-block .contacts__phone {
  font-size: 45px;
}

.footer__contacts-block .contacts__phone span {
  font-size: 55px;
}

.footer__content-item-1 {
  // transform: translateX(-50%);
}

@media (max-width: 1530px) {
  .container {
    max-width: none;
  }
}

@media (max-width: 1230px) {
  .footer__content {
    flex-direction: column;
  }
  .footer__content-item {
    padding: 15px 0;
  }
}

@media (max-width: 850px) {
  .footer__content-map iframe {
    width: 600px;
  }
}

@media (max-width: 650px) {
  .footer__content-map iframe {
    width: 400px;
    height: 300px;
  }

  .footer__copy {
    font-size: 20px;
  }
  .footer__title{
    margin-bottom: 0;
  }
  .footer__contacts{
    margin-bottom: 0;
  }
  .footer__contacts-block{
    display: flex;
    justify-content: space-between;
  }
  .footer__contacts-block .contacts__link{
    font-size: 20px;
  }
  .footer__contacts-block .contacts__phone{
    font-size: 35px;
  }
  .footer__contacts-block .contacts__phone span {
    font-size: 35px;
}

.footer__contacts-block .contacts__link br{
  // display: block;
}
}

@media (max-width: 450px) {
  .footer .title span {
    font-size: 30px;
}
  .footer__content-map iframe {
    width: 300px;
    height: 250px;
  }
  .footer__content-text {
    font-size: 19px;
  }
  .footer .container {
    max-width: none;
    padding: 0 5px;
  }
}
